*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    /* background-color: rgba(244, 5, 164, 0.05) */
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;

}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;

}
.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;

}
p{
    font-size: 16px;
    color: #222;
    margin:  15px 0 20px 0;

}
body{
    width: 100%;
    background-color: #fefae0;

}

#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e9edc9;
    box-shadow: 0 5px 15px rgba(244, 5, 164, 0.05);
    height: 150px;
    z-index: 999;
    position: sticky;
    top:0;
    left: 0;

}
#navbar{
    /* padding-left: 500px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    /* transition: 0.3s ease; */
}

#navbar li a:hover,
#navbar li a.active{
    color: gray;
    /* transition: 0.3s ease; */
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: gray;
    position: absolute;
    bottom: -4px;
    left: 20px;
    /* transition: 0.3s ease; */
}
#close{
    display: none;
    /* align-items: center; */
}


#mobile{
    display: none;
    align-items: center;
}

#new{
    background-image: url("./images/clothing-banner_w1920_h525.jpg");
    height: 50vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-directioN: column;
    align-items: flex-start;
    justify-content: center;
}
.logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-decoration: none;
    color: powderblue;
    font-size: 0.8rem;
    font-weight: 800;
}
#new h2{
    color: white;
    padding: 30px 20px 30px 30px;
    background-color: black;
}

#product1{
    text-align: center;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0; 
    border-radius: 25px;
    cursor: pointer;
    
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{

    box-shadow: 20px 20px 30px rgba(0,0, 0, 0.10);
    
}
#product1 .pro img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    /* padding-top: 10px; */
    color: #606063;
    font-size: 12px;

}
#product1 .des h4{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e9edc9;
    font-weight: 900;
    color: black;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}
/* .small-img
{
    width: 100%;
    width: 100px;
    height: 100px;
} */
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.d{
    display: flex;
    justify-content: space-between;
}
.d li{
    text-decoration: none;
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("./images/b14.jpeg"); /*kisi aur se liya hai yeh image*/
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;

}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;

}
#newsletter .form{
    display: flex;
    /* justify-content: space-between; */
    width: 40%;
}
#newsletter input{
    height: 2.890rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #e9edc9;
    color: #000;
    white-space: nowrap;
    padding: 15px 20px; 
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}    

footer{
    background-color: #e9edc9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;

}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;

}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow i{
    margin-top:20px;
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
     border:1px solid #5d5fe8;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h6{
    font-size: 19px;
}
#prodetails .single-pro-details h4{
    font-size: 24px;
    padding: 20px 10px 20px 0px;
}
#prodetails .single-pro-details h3{
    padding-bottom: 10px;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
} 
#prodetails .single-pro-details input
{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;

}
#prodetails .single-pro-details button{
    background-color:#e9edc9;
    color: #000;
    padding: 10px 10px;
    cursor: pointer;

}
#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}




















@media (max-width: 799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #BDB76B;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.4s;
    }

    #navbar.active{
        right: 0px;
    }

    

    #navbar li{
        margin-bottom: 20px;



    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        /* align-items: center; */
    }
    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #google_translate_element{
        position: inherit;
        right: 100px;
    }
    #new{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #form{
        width: 70%;
    }
    #prodetails .single-pro-image{
        padding-top: 100px;
        width: 800px;
        /* height: 800px; */
        /* padding-right: 100px */
    }
    #prodeatils .single-pro-details span{
        line-height: 25px;

    }
    #prodetails .single-pro-details {
        width: 100%;
        padding-top: 30px;
    }
    #prodetails .single-pro-details input {
        width: 100px;
        height: 50px;
        padding-left: 10px;
        font-size: 16px;
        margin-right: 10px;
    }
    #prodetails .single-pro-details h3 {
        padding-bottom: 10px;
        font-size: 20px;
    }
    #prodetails .single-pro-details button {
        padding: 15px 15px;
    }
    #newsletter button {
        padding: 15px 15px;
        margin-left: 20px;
        border-radius: 5px;
    }
    #newsletter input {

        width: 100%;
        border-radius: 4px;
    }

    



}

@media (max-width: 477px){
    #header{
        padding: 10px 30px
    }
    #new{
        padding: 0 20px;
        background-position: 55%;
    }
    #google_translate_element{
        align-items: center;
        left: 30px;
        bottom: 50px;
    }
    h2 {
        font-size: 32px;
    }
    h1{
        font-size: 38px;
    }
    #new h2 {
        color: white;
        padding: 30px 20px 30px 30px;
        background-color: black;
    }
    #newsletter .form{
        width: 100%;
    }
    /* #newsletter {
        padding: 30px 10px;
    } */
    
    #product1 .pro {
        width: 100%;
       
    }
    footer .copyright
    {
        text-align: start;
    }
}


/* new artist description page */

/* Cart page */



    
#site {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1em;
}

#masthead {
	margin-top: 3em;
	padding: 2em 0 0.5em 0;
	border-bottom: 1px solid #ddd;
}

#masthead h1 {
	margin: 0;
	font-size: 3.5em;
	overflow: hidden;
	padding-left: 85px;
	min-height: 82px;
	line-height: 2.3;
	
	color: #900;
	
}

.tagline {
	float: right;
	color: #666;
	font-size: 14px;
	padding-top: 3.5em;
}

#products ul {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#products li {
	float: left;
	width: 31%;
	margin: 0 1%;
	display: block;
}

.product-image {
	margin: 0 auto 1em auto;
	background: #000;
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	
}

.product-description {
	padding: 1em;
	
	color: #000000;
	border-radius: 5px;
}

.product-name {
	text-align: center;
	color: #fc0;
	margin: 0;
	font-size: 1.4em;
	padding-bottom: 0.2em;
	border-bottom: 1px dotted #666;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.product-price {
	width: 4em;
	height: 4em;
	font-size: 1.2em;
	text-align: center;
	margin: 1em auto;
	background: #fff;
	color: #800;
	line-height: 4;
	border-radius: 50%;
}

form.add-to-cart div,
form.add-to-cart p {
	text-align: center;
}

form input.qty {
	width: 40px;
	border: 1px solid #eee;
	font: 1em 'PT Serif', serif;
	background: #f9f9f9;
	color: #000;
	border-radius: 3px;
	margin-left: 0.4em;
}

.btn, a.btn {
	display: inline-block;
	background: #BDB76B;
	color: #fff;
	font: 1em 'PT Serif', serif;
	padding: 0.3em 1em;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #BDB76B;
}


#site-info {
	height: 3em;
	width: 100%;
	line-height: 3;
	text-align: center;
	background: #cc8500;
	position: absolute;
	color: #fff;
	left: 0;
	bottom: 0;
}

body#checkout-page #site-info {
	position: static;
}

#shopping-cart {
	margin: 1.5em 0;
}

.shopping-cart {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
}

.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even) {
	background: #fafafa;
}

.shopping-cart td.pdelete {
	text-align: center;
}

.pdelete a,
.pdelete a:hover {
	color: #e9edc9;
	text-decoration: none;
	font-size: 2.5em;
	display: block;
	text-align: center;
}

#shopping-cart-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}

#pricing {
	padding: 0.5em;
	margin: 1em 0;
	background: #fafafa;
}

#sub-total, #shipping {
	margin: 1.5em 0;
	text-align: right;
}

#sub-total span,
#shipping span {
	margin-left: 1em;
}

#content > h1,
#checkout-order-form h2 {
	font-size: 2em;
	text-align: center;
}

#pricing #sub-total,
#pricing #shipping {
	margin: 1em 0;
}

#checkout-order-form {
	margin: 1.5em 0;
}

#checkout-order-form fieldset {
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 1em;
	margin-bottom: 1.3em;
}

#checkout-order-form legend {
	padding: 0.3em;
	background: #fafafa;
	font-weight: bold;
}

#checkout-order-form div {
	margin-bottom: 1em;
}

#checkout-order-form label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
	text-align: left;
}

#checkout-order-form input[type="text"] {
	width: 200px;
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.3em;
}

#checkout-order-form select {
	width: 200px;
	display: block;
}

.message {
	display: block;
	margin: 0.5em 0;
	color: #BDB76B;
}

#user-details {
	margin: 1.5em 0;
}

#user-details > h2 {
	text-align: center;
	font-size: 2em;
}

#user-details-content {
	margin: 1.5em 0;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 6px;
	overflow: hidden;
}

#user-details-content .detail {
	float: left;
	width: 46%;
}

#user-details-content .detail.right {
	float: right;
}

#user-details-content .detail > h2 {
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

#user-details-content ul {
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
}

#user-details-content li {
	display: block;
	margin-bottom: 0.5em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #ddd;
}

#paypal-form {
	margin: 1.5em 0;
}